:root{
	--mpc-border-color: #c1c1c1;
	--mpc-border-hightlight-color: #8f8f8f;
	--mpc-label-primary-color: #333333;
	--mpc-label-secondary-color: #6d6d6d; /* #6d6d6d */
}
#content table.mpc-wrap, #content table.mpc-wrap tr, #content table.mpc-wrap th, #content table.mpc-wrap td,
#main-content table.mpc-wrap, #main-content table.mpc-wrap tr, #main-content table.mpc-wrap th, #main-content table.mpc-wrap td,
#brx-content table.mpc-wrap, #brx-content table.mpc-wrap tr, #brx-content table.mpc-wrap th, #brx-content table.mpc-wrap td,
.entry-content table.mpc-wrap, .entry-content table.mpc-wrap thead td, .entry-content table.mpc-wrap tbody tr td,
.mpc-fixed-header table, .mpc-fixed-header thead th, .entry-content .mpc-fixed-header table, .entry-content .mpc-fixed-header thead th{
	border: 0;
}
#content table.mpc-wrap tbody tr:last-child td, #main-content table.mpc-wrap tbody tr:last-child td, #brx-cotnent table.mpc-wrap tbody tr:last-child td, .entry-content table.mpc-wrap tbody tr:last-child td {
	border-bottom: 1px solid var(--mpc-border-color);
}
table.mpc-wrap img, .mpc-container select.mpc-orderby, td.mpc-product-variation select, .mpc-container .mpc-pagenumbers span, td.mpc-product-quantity input[type="number"],
.wp-theme-Avada .mpc-container select.mpc-orderby select, .wp-theme-Avada td.mpc-product-variation select{
	border: 1px solid var(--mpc-border-color);
}
table.mpc-wrap tbody tr td, .mpc-range del span.woocommerce-Price-amount.amount, span.mpc-mobile-only{
	color: var(--mpc-label-secondary-color);
}
.mpc-container .mpc-product-title a, body.wp-theme-Avada .mpc-container a{
	color: var(--mpc-label-primary-color);
}
.mpc-container input[type="checkbox"]{
	width: 32px;
	height: 32px;
}
.mpc-container input[type="checkbox"], .mpc-container input[type="checkbox"]:focus{
	outline: none;
}
.mpc-container {
	position: relative;
	margin-bottom: 20px;
}
.mpc-sort{
	float: left;
	display: inline-flex;
}
.mpc-all-select {
	float: right;
	line-height: 36px;
	margin-bottom: 10px;
}
.mpc-all-select label {
	color: var(--mpc-label-primary-color);
}
.mpc-all-select input[type="checkbox"] {
	margin: 0 0 0 5px;
	display: inline;
	vertical-align: top;
}
table.mpc-wrap {
	width: 100%;
	margin-bottom: 10px;
}
table.mpc-wrap tbody tr td {
	padding: 10px;
	vertical-align: middle;
}
table.mpc-wrap thead tr th:first-child{
	border-top-left-radius: 4px;
}
table.mpc-wrap thead tr th:last-child{
	text-align: right;
	padding-right: 20px;
	border-top-right-radius: 4px;
}
table.mpc-wrap tbody tr:nth-child(2n).cart_item td {
	background: #f5f5f5;
}
table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
	background: #ffffff;
}
table.mpc-wrap tbody tr:nth-child(2n).cart_item td:first-child {
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
table.mpc-wrap tbody tr:nth-child(2n).cart_item td:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
table.mpc-wrap tbody tr td:last-child{
	text-align: right;
}
.mpc-container .mpc-fixed-header {
	position: fixed;
	top: -1px;
	z-index: 999;
}
.admin-bar .mpc-container .mpc-fixed-header {
	top: 31px;
}
.mpc-container .mpc-table-header.mpc-fixed-filter {
	position: fixed;
	z-index: 999;
	background: #ffffff;
	box-shadow: 0 1px 11px 0 rgb(17 17 17 / 31%);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow-x: auto;
	white-space: nowrap;
}
.mpc-container .mpc-table-header.mpc-fixed-filter > div, .mpc-container .mpc-table-header.mpc-fixed-filter select, .mpc-container .mpc-fixed-header table, .entry-content .mpc-fixed-header table {
	margin-bottom: 0;
}
table.mpc-wrap thead th, .mpc-fixed-header table thead tr th {
	background: #444;
	color: #fff;
	padding: .75em 1em;
	text-align: left;
}
.mpc-container .mpc-fixed-header table thead tr th:first-child{
	border-bottom-left-radius: 4px;
}
.mpc-container .mpc-fixed-header table thead tr th:last-child{
	border-bottom-right-radius: 4px;
}
table.mpc-wrap .mpc-on-sale{
	position: absolute;
	font-size: 12px;
	background: #8cbd80;
	color: #fff;
	line-height: 1;
	border-top-left-radius: 4px;
	padding: 4px 8px;
	text-transform: uppercase;
}
table.mpc-wrap img {
	border-radius: 4px;
}
table.mpc-wrap img:hover {
	cursor: pointer;
}
.mpc-container .mpc-product-title{
	color: var(--mpc-label-primary-color);
}
.mpc-container .mpc-product-title p, .woocommerce-product-details__short-description {
	font-size: 15px;
	opacity: 0.8;
}
.mpc-container select.mpc-orderby, td.mpc-product-variation select{
	max-width: 200px;
    min-width: 75%;
    display: inline-block;
    border-radius: 4px;
	padding: 5px 10px;
	margin-bottom: 10px;
	outline: none;
}
#brx-content select.mpc-orderby, #brx-content td.mpc-product-variation select{
	padding: 0 25px 0 10px;
}
.wp-theme-Avada .mpc-container select.mpc-orderby, .wp-theme-Avada td.mpc-product-variation select{
	padding: 5px 10px;
    height: 40px;
}
.mpc-container select.mpc-orderby:focus, td.mpc-product-variation select:focus{
	outline: none;
}
.mpc-container .mpc-table-header.mpc-fixed-filter select.mpc-orderby{
	margin: 10px 5px 10px 10px;
}
tr.cart_item.mpc-row-marked{
	border: 1px solid var(--mpc-border-hightlight-color);
}
.mpc-container .clear-button a.reset_variations {
	margin: 5px 0 0 0;
}
table.mpc-wrap td select:last-of-type {
	margin-bottom: 0;
}
td.mpc-product-quantity input[type="number"]{
	width: 67px;
	height: 45px;
	background-color: #fff;
	text-align: center;
	box-shadow: none;
	border-radius: 4px;
}
td.mpc-product-price .mpc-range{
	display: flex;
	color: #6d6d6d;
}
td.mpc-product-price .mpc-range del {
	opacity: 0.5;
}
td.mpc-product-price .mpc-range ins {
    font-weight: normal;
	padding-left: 5px;
}
td.mpc-product-quantity input[type="number"]:focus{
	outline: none;
}
.mpc-container .mpc-product-select input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 7px;
}
.mpc-container .mpc-single-price {
	display: none;
    font-weight: 600;
}
.mpc-container .mpc-total-wrap{
	display: inline-block;
	padding-left: 5px;
	vertical-align: sub;
}
.mpc-container .mpc-table-total, .mpc-container .mpc-reset-table, .mpc-container .mpc-reset-table svg{
	display: inline;
}
.mpc-container .mpc-reset-table, .mpc-container span.mpc-total {
	margin-left: 5px;
}
.mpc-container .mpc-reset-table svg{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	stroke: #ccc;
}
.mpc-container .mpc-reset-table svg:hover{
	stroke: #000;
	cursor: pointer;
}
.mpc-container .mpc-add-to-cart {
    display: inline;
    float: right;
}
.mpc-container .mpc-add-to-cart input[type="submit"] {
	padding: 5px 15px;
    border-radius: 3px;
}
.mpc-container .mpc-pagenumbers {
    text-align: center;
	margin-top: 10px;
}
.mpc-container .mpc-pagination {
	text-align: center;
}
.mpc-container .mpc-inner-pagination {
	display: inline-block;
	position: relative;
}
.mpc-container .mpc-product-range {
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}
.mpc-container .mpc-product-range p {
	margin-bottom: 5px;
}
.mpc-container .mpc-pagenumbers span {
	line-height: 30px;
	margin-left: 10px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 0 11px;
}
.mpc-container .mpc-pagenumbers span:first-child {
	margin-left: 0;
}
.mpc-container .mpc-pagenumbers span.mpc-divider {
	border: none;
	font-weight: bold;
	letter-spacing: 3px;
}
.mpc-container .mpc-pagenumbers span.current {
	color: white;
	border: 1px solid var(--mpc-border-hightlight-color);
}
.total-row.mpc-fixed-total-m {
	position: fixed;
	bottom: 0;
	padding: 5px;
	z-index: 9;
	background: rgb(0 0 0 / 40%);
	color: #fff;
	backdrop-filter: blur(5px);
	border-radius: 5px 5px 0 0;
}
span.mpc-fixed-cart {
	float: right;
	font-weight: normal;
	font-size: 16px;
	padding: 2px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.total-row.mpc-fixed-total-m > span {
	vertical-align: middle;
}
.mpcpi-wrap{
	position: relative;
}
.mpc-popup {
	transition: 0.3s;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	text-align: center;
	z-index: 999999;
}
.mpc-popup .image-wrap{
	position: relative;
	z-index: 1;
}
.admin-bar .mpc-popup {
	top: 32px;
}
#mpcpop img {
	margin: auto;
	max-height: 75vh;
}
#mpcpop img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
#mpcpop .mpcpop-close {
	position: absolute;
	top: 10px;
	right: 20px;
}
#mpcpop .mpcpop-close:before{
	font-size: 30px;
	color: white;
}
#mpcpop .mpcpop-close:hover:before{
	cursor: pointer;
}
span.mpc-loader {
	position: absolute;
	background: #ffffff6e;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 99999999;
}
span.mpc-loader img {
	width: 70px;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
span.mpc-mobile-only {
	display: none;
}
.mpc-popify{
	display: block;
}
.woo-notices.mpc-notice {
	background: #ff9797;
}
.mpc-cart-messege .woocommerce-message {
    background-color: #0f834d;
    color: #fff;
    padding: 1em 2em 1em 3.5em;
	margin-bottom: 20px;
}
@media screen and (max-width: 1120px) {
	.mpc-table-header .mpc-all-select label, .mpc-table-header.mpc-fixed-filter .mpc-all-select label{
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.mpc-table-header.mpc-fixed-filter .mpc-all-select{
		display: none;
	}
}
@media screen and (max-width: 767px) {
	#brx-content .mpc-container{
		padding: 0 10px;
	}
	.mpc-sort{
		margin-bottom: 10px;
	}
	.mpc-table-header.mpc-fixed-filter .mpc-all-select{
		display: block;
	}
	.mpc-table-header .mpc-all-select label, .mpc-table-header.mpc-fixed-filter .mpc-all-select label{
		display: inline-block;
	}
	.mpc-table-header.mpc-fixed-filter {
		display: flex;
		top: 0;
		left: 0;
		width: 100%;
	}
	.admin-bar .mpc-table-header.mpc-fixed-filter{
		top: 0;
	}
	.mpc-table-header.mpc-fixed-filter.mpc-free-head .mpc-sort select{
		margin-bottom: 3px;
	}
	.mpc-table-header.mpc-fixed-filter {
		padding: 10px 10px 2px;
	}
	.mpc-table-header.mpc-fixed-filter.mpc-free-head{
		display: block;
	}
	table.mpc-wrap {
		margin-bottom: 10px;
	}
	table.mpc-wrap thead, tr.cart_item.simple td.mpc-product-variation {
		display: none;
	}
	.wp-theme-Avada table.mpc-wrap tbody{
		background-color: transparent !important;
	}
	table.mpc-wrap tbody tr, table.mpc-wrap tbody td {
		display: block;
	}
	table.mpc-wrap tbody tr.mpc-search-empty {
		min-height: auto;
	}
	table.mpc-wrap tbody tr.mpc-search-empty td {
		padding-left: 10px;
	}
	#content table.mpc-wrap tbody tr, #main-content table.mpc-wrap tbody tr {
		margin-bottom: 25px;
		padding: 7px;
		background-color: #f5f5f7;
		border-radius: 5px;
	}
	table.mpc-wrap tbody tr:after {
		content: "";
		display: table;
		clear: both;
	}
	table.mpc-wrap tbody tr td{
		padding: 5px;
	}
	#content table.mpc-wrap tbody tr td, #main-content table.mpc-wrap tbody tr td, #brx-content table.mpc-wrap tbody tr td{
		text-align: left;
		background-color: #f5f5f7;
	}
	table.mpc-wrap tbody tr:nth-child(2n) td {
		background: #fdfdfd;
	}
	.wp-theme-Avada table.mpc-wrap tbody tr td:last-child{
		margin-bottom: 0;
	}
	table.mpc-wrap tbody tr:nth-child(2n).cart_item td, table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
		background: #fff;
	}
	#content table.mpc-wrap tbody tr:last-child, #main-content table.mpc-wrap tbody tr:last-child, #brx-content table.mpc-wrap tbody tr:last-child{
		margin-bottom: 0;
	}
	#content table.mpc-wrap tbody tr:last-child td, #main-content table.mpc-wrap tbody tr:last-child td, #brx-content table.mpc-wrap tbody tr:last-child td, .entry-content table.mpc-wrap tbody tr:last-child td {
		border-bottom: none;
	}
	#content table.mpc-wrap tbody tr td:last-child, #main-content table.mpc-wrap tbody tr td:last-child, #brx-content table.mpc-wrap tbody tr td:last-child {
		text-align: left;
	}
	#content table.mpc-wrap tbody tr td.mpc-product-image, #main-content table.mpc-wrap tbody tr td.mpc-product-image, #brx-content table.mpc-wrap tbody tr td.mpc-product-image {
		padding: 0;
		float: left;
	}
	.mpc-container .clear-button {
		padding-left: 0;
	}
	.mpc-container .mpc-table-header input[type="checkbox"]{
		margin: 0 0 0 10px;
	}
	table.mpc-wrap tbody tr.total-row {
		text-align: right;
	}
	table.mpc-wrap tbody tr.total-row td {
		display: inline-block;
		text-align: left;
	}
	.mpc-container .mpc-pagenumbers{
		margin-top: 20px;
	}
	.total-row.mpc-fixed-total-m {
		width: 100%;
		bottom: 0;
		left: 0;
	}
	#main-content .total-row.mpc-fixed-total-m {
		bottom: 0;
	}
	.theme-storefront .total-row.mpc-fixed-total-m{
		bottom: 69px;
	}
	.mpc-pagination {
		margin: 30px 0;
	}
	#mpcpop img {
		margin-top: 45px;
		max-width: 98%;
		max-height: 70vh;
	}
	#mpcpop .mpcpop-close {
		right: 10px;
	}
	#mpcpop .mpcpop-close:before{
		font-size: 22px;
		color: #ffffff;
		box-shadow: 0px 0px 3px 1px #8a8a8a;
		border-radius: 50%;
		background: #860000;
	}
	.admin-bar .mpc-popup{
		top: 0;
	}
	span.mpc-mobile-only {
		display: block;
		float: left;
		padding-right: 10px;
	}
	.wp-theme-Avada table.mpc-wrap bdi{
		text-align: left;
	}
	.mpc-range del{
		text-decoration-color: #6c6a6a;
	}
	.mpc-range del span.woocommerce-Price-amount.amount {
		font-weight: normal;
		font-size: 14px;
	}
}
