.mpc-container {
	position: relative;
	margin-bottom: 20px;
}
.mpc-container input[type="checkbox"] {
	width: 32px;
	height: 32px;
	outline: none;
	vertical-align: middle;
	margin: 0;
}
.mpc-container select{
    border-radius: 4px;
	padding: 5px 10px;
	border: 1px solid #898989;
	color: #565656;
}
#brx-content select.mpc-orderby, #brx-content td.mpc-product-variation select{
	padding: 0 25px 0 10px;
}
#main-content select.mpc-orderby, #main-content td.mpc-product-variation select{
	padding: 10px;
}
.wp-theme-Divi #main-content select.mpc-orderby, .wp-theme-Divi #main-content td.mpc-product-variation select{
	padding: 5px;
}
table.mpc-wrap thead th, table.mpc-wrap tbody td, .mpc-container .mpc-all-select label, .mpc-pagenumbers span, .mpc-fixed-header table thead th{
	font-size: 15px;
}



.mpc-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 0 0 10px 0;
	gap: 10px;
}
.mpc-filters{
	display: flex;
	align-items: center;
	justify-content: start;
	flex: 1;
	min-width: 0;
	gap: 10px;
}
.mpc-filters > div {
	min-width: 0;
	margin: 0;
}



table.mpc-wrap {
	width: 100%;
	margin-bottom: 10px;
}
.mpc-fixed-header {
	position: fixed;
	top: -1px;
	z-index: 999;
}
.mpc-fixed-header, .mpc-fixed-header table {
	margin: 0;
}
.mpc-fixed-header table, .entry-content .mpc-fixed-header table{
	margin-bottom: 0;
	border-collapse: collapse;
}
.mpc-table-header.mpc-fixed-filter {
	position: fixed;
    top: 49px;
    z-index: 999;
    background: #ffffff4f;
    box-shadow: 0 1px 11px 0 rgb(17 17 17 / 31%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
    backdrop-filter: blur(6px);
}
.mpc-table-header.mpc-fixed-filter > div {
	margin: 0;
	padding: 7px 0 10px 10px;
}
.mpc-table-header.mpc-fixed-filter > div:last-child{
	padding-right: 10px;
}
.mpc-container table, .mpc-container tr, .mpc-container td, .mpc-container th, #content table.mpc-wrap, #content table.mpc-wrap tr, #content table.mpc-wrap th, #content table.mpc-wrap td,
#main-content table.mpc-wrap, #main-content table.mpc-wrap tr, #main-content table.mpc-wrap th, #main-content table.mpc-wrap td,
#brx-content table.mpc-wrap, #brx-content table.mpc-wrap tr, #brx-content table.mpc-wrap th, #brx-content table.mpc-wrap td,
.entry-content table.mpc-wrap, .entry-content table.mpc-wrap thead td, .entry-content table.mpc-wrap tbody tr td,
.mpc-fixed-header table, .mpc-fixed-header thead th, .entry-content .mpc-fixed-header table, .entry-content .mpc-fixed-header thead th
{
	border: none;
}
table.mpc-wrap thead th, .mpc-fixed-header table thead tr th {
	font-weight: 400;
	background: #444;
	color: #fff;
	padding: .75em 1em;
	text-align: left;
}
table.mpc-wrap tbody tr td {
	padding: 0.5em;
	vertical-align: middle;
	color: #333;
}
#content table.mpc-wrap.mpc-no-image tbody tr td, #main-content table.mpc-wrap.mpc-no-image tbody tr td, #brx-content table.mpc-wrap.mpc-no-image tbody tr td, #main table.mpc-wrap.mpc-no-image tbody tr td, main table.mpc-wrap.mpc-no-image tbody tr td{
	padding-left: 0;
}
table.mpc-wrap tbody tr:nth-child(2n).cart_item td {
	background: #f5f5f5;
}
table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
	background: #ffffff;
}
.mpc-container tbody tr:last-child td{
	border-bottom: 1px solid #e3e3e3;
}
table.mpc-wrap tbody tr td:last-child, table.mpc-wrap thead tr th:last-child {
	text-align: right;
}
#content table.mpc-wrap tbody tr:last-child td, #main-content table.mpc-wrap tbody tr:last-child td, #brx-cotnent table.mpc-wrap tbody tr:last-child td, .entry-content table.mpc-wrap tbody tr:last-child td {
	border-bottom: 1px solid #e3e3e3;
}
table.mpc-wrap tbody tr.mpc-search-empty, table.mpc-wrap tbody tr.mpc-search-empty td {
	background: #858585;
	color: #fff;
	border-radius: 4px;
	text-align: left;
}
.mpc-fixed-header table thead th, .entry-content .mpc-fixed-header table thead th {
	background: #00000091;
	backdrop-filter: blur(10px);
}
table.mpc-wrap thead tr th:first-child, .mpc-fixed-header table thead tr th:first-child{
	border-top-left-radius: 4px;
}
table.mpc-wrap thead tr th:last-child, .mpc-fixed-header table thead tr th:last-child{
	border-top-right-radius: 4px;
}
table.mpc-wrap tbody tr td.mpc-product-name > a {
	text-decoration: none !important;
	font-weight: bold;
}
table.mpc-wrap tbody tr:nth-child(2n) td .qty {
	background: #fff;
}
table.mpc-wrap img {
	max-width: none;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
}
table.mpc-wrap img:hover {
	cursor: pointer;
}
.mpc-product-title a{
	text-decoration: underline;
}
td.mpc-product-variation select {
	margin-bottom: 10px;
}
table.mpc-wrap td select:last-of-type {
	margin-bottom: 0;
}
.mpc-wrap input.input-text.qty.text {
	padding: 6px 3px;
	width: 45px;
	border-radius: 0;
}
.clear-button a.reset_variations {
	display: block;
	margin: 5px 0 0 0;
}
.total-row {
	text-align: right;
	margin-bottom: 10px;
	font-size: 16px;
}
.mpc-button {
	text-align: right;
	margin-bottom: 10px;
}
.mpc-button > div {
	display: inline-block;
}
.mpc-product-range {
	font-size: 14px;
	display: block;
	margin: 5px 0 0 0;
}
.mpc-product-range p span {
    font-weight: bold;
}
.mpc-button button, .mpc-button input[type=submit], .mpc-button input.mpc-reset {
	border: 0;
	border-radius: 0;
	background: none;
	cursor: pointer;
	padding: 12.5px 25px;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	transition: .5s;
	line-height: 1;
}
.mpc-button button, .mpc-button input.mpc-reset {
	background-color: #f3f3f3;
	border-color: #d5d5d5;
	color: #333333;
	margin-right: 5px;
}
.mpc-button button:hover, .mpc-button input[type=submit]:hover, .mpc-button input.mpc-reset:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.mpc-button input.mpc-add-to-cart.wc-forward {
	color: #fff;
	background: #535353;
	border-width: 1px;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 4px;
}
.mpcpopimg{
	display: none;
}
.mpcpi-wrap{
	display: flex;
	position: relative;
}
.wfl-sale {
	color: #fff;
	background: #8cbd80;
	line-height: 1;
	display: inline-block;
	padding: 4px 8px;
	text-transform: uppercase;
	font-size: 12px;
	position: absolute;
	overflow: hidden;
	border-top-left-radius: 4px;
}
/* The Modal (background) */
.mpc-popup {
	transition: 0.3s;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55); /* Slight opacity for dark overlay */
	backdrop-filter: blur(5px); /* Apply the blur effect */
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	text-align: center;
	z-index: 999999;
}
.mpc-popup .image-wrap, .mpc-popup .mpc-gallery {
	position: relative;
	z-index: 1; /* Keep content above the backdrop blur */
}
.admin-bar .mpc-popup {
	top: 32px;
}
/* Modal Content (image) */
#mpcpop img {
	margin: auto;
	max-height: 75vh;
}
/* Add Animation */
h4.mpcpop-title {
	color: #fff;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: inherit;
}
#mpcpop .mpcpop-close {
	position: absolute;
	right: 13px;
	top: 10px;
	width: 30px;
	height: 30px;
}
#mpcpop .mpcpop-close:before{
	font-size: 30px;
	color: white;
}
#mpcpop .mpcpop-close:hover:before{
	cursor: pointer;
}
.mpc-single-active .mpc-single-price {
	/*font-size: 130%;*/
	font-weight: 600;
}
.mpc-popify{
	display: block;
}
span.mpc-single-add {
	font-weight: bold;
	padding-left: 10px;
}
span.mpc-single-add:hover {
	color: #6a47ea;
	cursor: pointer;
}
.mpc-pagination {
	text-align: center;
}
.mpc-inner-pagination {
	display: inline-block;
	position: relative;
}
.mpc-pagenumbers {
	display: inline-block;
}
.mpc-pagenumbers span {
	margin-left: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 5px 12px;
	line-height: 20px;
}
.mpc-pagenumbers span:first-child{
	margin-left: 0;
}
.mpc-pagenumbers span.mpc-divider {
	border: none;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: default;
}
.mpc-pagenumbers span.current {
	color: white;
}
.table-query{
	display: initial;
	position: absolute;
}
.mpc-container .mpc-product-title .product-parent a{
	background: #727272;
	color: #fff;
	padding: 1px 10px;
	font-size: 13px;
	border-radius: 15px;
}
#mpcpop img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
/* loader */
.mpc-loading{
	color: #eeeeee;
	position: relative;
	opacity: .5;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: pointer;
	padding: 0.6180469716em 1.41575em;
	display: inline-block;
}
.mpc-loading:after {
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	line-height: inherit;
	content: "";
	animation: fa-spin .75s linear infinite;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	display: block;
}
span.mpc-loader {
	position: absolute;
	background: #ffffff6e;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 99999999;
}
span.mpc-loader img {
	width: 70px;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mpc-popup ins {
	background: none;
}
.woo-notices.mpc-notice {
	background: #ff9797;
}
/* floating total */
.mpc-floating-total {
	position: fixed;
	left: 5px;
	top: 50%;
	background: #ccc;
	padding: 2%;
	text-align: center;
}
.mpc-floating-total span.float-label {
	display: block;
	text-decoration: underline;
}
.mpc-floating-total.active {
	padding: 26px 30px;
	background: #15b555;
	color: #fff;
}
.mpc-floating-total.active span.float-label {
	text-decoration: none;
	padding: 1px 10px;
	border-radius: 5px;
	background: #077633;
	cursor: pointer;
}
.woocommerce-notices-wrapper.mpc-cart-messege{
	margin: 20px 0 0 0;
}
.mpc-cart-messege .woocommerce-message {
	font-size: 15px;
	margin: 0 0 20px 0;
    padding: 1em 2em 1em 3.5em;
    background: #0f834d;
	color: #fff;
	line-height: 50px;
}
.mpc-popify.mpc-cart-messege .woocommerce-message a{
	background: #111111;
    color: #fff;
	line-height: 20px;
	padding: 16px;
}
.mpc-cart-messege a.button.wc-forward {
    line-height: 16px;
	padding: 16px;
}
.mpc-popup.mpc-popify .woocommerce-message::before {
    top: 1.05em;
}
.product-image img{
	max-width: none !important;
}
.mpc-button input[type=submit], .mpc-button input.mpc-reset {
	width: auto;
	font-weight: normal;
	font-size: 14px;
	border-radius: 3px;
}
.wp-theme-Avada .mpc-button input[type=submit], .wp-theme-Avada  .mpc-button input.mpc-reset{
	border: 1px solid #5f5f5f;
	line-height: 15px;
	padding: 10px 20px;
}
.mpc-table-footer .total-row .mpc-fixed-cart{
	display: none;
}
.total-row.mpc-fixed-total-m {
	position: fixed;
	bottom: 0;
	margin: 0;
	/* padding: 8px; */
	z-index: 9;
	background: rgb(0 0 0 / 40%);
	color: #fff;
	backdrop-filter: blur(5px);
	text-align: left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mpc-table-footer .total-row.mpc-fixed-total-m .mpc-fixed-cart{
	display: flex;
}
.total-row.mpc-fixed-total-m .total-price{
	flex: 1;
}
.total-row.mpc-fixed-total-m .total-price .total-label{
	padding: 0 0 0 10px;
}
.mpc-fixed-cart{
	margin: 7px 7px 7px 0;
	flex-shrink: 0;
	padding: 5px 20px;
	border-radius: 5px;
	cursor: pointer;
	background: #505050;
}
td.mpc-product-quantity input[type="number"] {
	width: 55px;
    height: 34px;
	padding: 0;
    text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}
td.mpc-product-quantity input[type="number"]:disabled {
	background-color: #e6e6e6;
    opacity: 0.5;
}
/* Avada theme support start */
body.wp-theme-Avada .mpc-container a{
	color: #000;
}
.wp-theme-Avada .mpc-button{
	padding: 5px;
}
/* Avada theme support end */
span.mpc-empty-var {
    color: #ada5a5;
	font-size: 13px;
}
.mpc-product-title p {
    color: #7e7e7e;
	margin: 3px 0;
}
/* Mobile CSS */
@media screen and (max-width: 767px) {
	.mpc-table-header{
		margin: 0 0 20px 0;
	}
	table.mpc-wrap thead, .mpc-all-select label {
		display: none;
	}
	.mpc-filters select {
		width: 100%;
		box-sizing: border-box;
		text-overflow: ellipsis;
	}
	.mpc-fixed-filter .mpc-filters select {
		max-width: initial;
	}
	.hentry .entry-content .mpc-container a {
		text-decoration: none;
	}
	.admin-bar .mpc-popup{
		top: 0;
	}
	#mpcpop img {
		margin-top: 45px;
		max-width: 98%;
		max-height: 70vh;
	}
	#mpcpop .mpcpop-close {
		font-size: 16px;
		line-height: 24px;
		width: 24px;
		height: 24px;
		right: 15px;
        background-color: #8a8a8a;
        border-radius: 50%;
        box-shadow: 2px 1px 6px 5px #8a8a8a;
	}
	span.mpc-mobile-only {
		display: flex;
		margin-right: 5px;
		font-size: 14px;
	}
	#brx-content .mpc-container{
		padding: 0 10px;
	}
	table.mpc-wrap {
		margin-bottom: 10px;
	}
	.wp-theme-Avada table.mpc-wrap tbody{
		background-color: transparent !important;
	}
	table.mpc-wrap tbody tr, table.mpc-wrap tbody td {
		display: block;
	}
	table.mpc-wrap tbody tr, #content table.mpc-wrap tbody tr, #main-content table.mpc-wrap tbody tr, #brx-content table.mpc-wrap tbody tr, main table.mpc-wrap tr{
		border: 1px solid #cdcdcd;
		position: relative;
		margin-bottom: 30px;
		padding: 7px;
		background-color: #f5f5f7;
		border-radius: 5px;
	}
	main table.mpc-wrap tbody tr{
		padding: 10px;
	}
	table.mpc-wrap.mpc-no-image tbody tr {
		padding-top: 8px;
	}
	table.mpc-wrap tbody tr:after {
		content: "";
		display: table;
		clear: both;
	}
	table.mpc-wrap tbody tr.mpc-search-empty {
		min-height: auto;
	}
	table.mpc-wrap tbody tr.total-row {
		text-align: right;
	}
	table.mpc-wrap tbody tr td, main table.mpc-wrap tbody tr td{
		margin-top: 10px;
		border: none;
		padding: 0 0 10px 0;
	}
	#content table.mpc-wrap tbody tr td, #main-content table.mpc-wrap tbody tr td, #brx-content table.mpc-wrap tbody tr td, main table.mpc-wrap tbody tr td{
		padding: 0;
		margin-bottom: 10px;
		text-align: left;
		background-color: #f5f5f7;
	}
	table.mpc-wrap tbody tr.mpc-search-empty td {
		padding-left: 10px;
	}
	table.mpc-wrap tbody tr.total-row td {
		display: inline-block;
		text-align: left;
	}
	table.mpc-wrap.mpc-no-image tbody tr td {
		text-align: left;
	}
	table.mpc-wrap tbody td.mpc-product-select {
		position: static;
	}
	table.mpc-wrap.mpc-no-image tbody tr td.mpc-product-name {
		margin-right: 80px;
	}
	table.mpc-wrap tbody tr:nth-child(2n) td {
		background: #f5f5f7;
	}
	table.mpc-wrap tbody tr:nth-child(2n).cart_item td, table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
		background: #f5f5f7;
	}
	table.mpc-wrap tbody tr td:nth-child(-n + 2) {
		margin-top: 0;
	}
	table.mpc-wrap tbody tr:last-child, #content table.mpc-wrap tbody tr:last-child, #main-content table.mpc-wrap tbody tr:last-child, #brx-content table.mpc-wrap tbody tr:last-child, main table.mpc-wrap tbody tr:last-child{
		margin-bottom: 0;
	}
	#content table.mpc-wrap tbody tr:last-child td, #main-content table.mpc-wrap tbody tr:last-child td, #brx-content table.mpc-wrap tbody tr:last-child td, .entry-content table.mpc-wrap tbody tr:last-child td, main table.mpc-wrap tbody tr:last-child td {
		border-bottom: none;
	}
	table.mpc-wrap tbody tr td:last-child, #content table.mpc-wrap tbody tr td:last-child, #main-content table.mpc-wrap tbody tr td:last-child, #brx-content table.mpc-wrap tbody tr td:last-child, main table.mpc-wrap tbody tr td:last-child, .wp-theme-Avada table.mpc-wrap tbody tr td:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
		text-align: left;
	}
	#content table.mpc-wrap tbody tr td.mpc-product-image, #main-content table.mpc-wrap tbody tr td.mpc-product-image, #brx-content table.mpc-wrap tbody tr td.mpc-product-image, #main table.mpc-wrap tbody tr td.mpc-product-image, main table.mpc-wrap tbody tr td.mpc-product-image {
		padding-left: 0;
		float: left;
	}
	.total-row.mpc-fixed-total-m {
		bottom: 0;
		width: 100%;
		left: 0;
	}
	.theme-storefront .total-row.mpc-fixed-total-m{
		bottom: 69px;
	}
	.mpc-product-title p {
		margin: 2px 0;
	}
	.product-parent{
		margin: 0 0 10px;
	}
	.wp-theme-Avada table.mpc-wrap bdi{
		text-align: left;
		padding-top: 0;
	}
	.mpc-range del{
		text-decoration-color: #6c6a6a;
	}
	.mpc-range del span.woocommerce-Price-amount.amount {
		font-weight: normal;
		font-size: 14px;
		color: #6c6a6a;
	}
	.mpc-wrap .variation-group {
		margin-bottom: 10px;
	}
	.mpc-wrap .variation-group:last-child{
		margin-bottom: 0;
	}
	table.mpc-wrap tbody tr:nth-child td .qty {
		background: #f2f2f2;
	}
	.mpc-pagination {
		margin: 20px 0 0 0;
	}
	.mpc-pagenumbers span.mpc-divider{
		margin-left: -5px;
		margin-right: -20px;
	}
}
