.mpc-container {
	position: relative;
	margin-bottom: 20px;
}
table.mpc-wrap {
	width: 100%;
	margin-bottom: 10px;
}
#content table.mpc-wrap, #content table.mpc-wrap tr, #content table.mpc-wrap th, #content table.mpc-wrap td,
#main-content table.mpc-wrap, #main-content table.mpc-wrap tr, #main-content table.mpc-wrap th, #main-content table.mpc-wrap td,
#brx-content table.mpc-wrap, #brx-content table.mpc-wrap tr, #brx-content table.mpc-wrap th, #brx-content table.mpc-wrap td,
.entry-content table.mpc-wrap, .entry-content table.mpc-wrap thead td, .entry-content table.mpc-wrap tbody tr td,
.mpc-fixed-header table, .mpc-fixed-header thead th, .entry-content .mpc-fixed-header table, .entry-content .mpc-fixed-header thead th
{
	border: 0;
}
.mpc-fixed-header table, .entry-content .mpc-fixed-header table{
	margin-bottom: 0;
}
#content table.mpc-wrap tbody tr:last-child td, #main-content table.mpc-wrap tbody tr:last-child td, #brx-cotnent table.mpc-wrap tbody tr:last-child td, .entry-content table.mpc-wrap tbody tr:last-child td {
	border-bottom: 1px solid #e3e3e3;
}
table.mpc-wrap thead th, table.mpc-wrap tbody td, .mpc-container .mpc-all-select label, .mpc-pagenumbers span, .mpc-fixed-header table thead th{
    font-size: 15px;
}
table.mpc-wrap thead th, .mpc-fixed-header table thead tr th {
	background: #444;
	color: #fff;
	padding: .75em 1em;
	text-align: left;
}
button.mpce-single-add {
	padding: 4px 10px;
	margin-top: 5px;
}
.wp-theme-hardware-tools-store button.mpce-single-add{
	padding: 8px 20px;
	margin: 0;
}
#brx-content button.mpce-single-add {
	padding: 10px 20px;
}
.mpc-stock div {
	color: #0f834d;
}
table.mpc-wrap tbody tr td {
	padding: 1em;
	vertical-align: middle;
	color: #333;
}
table.mpc-wrap tbody tr:nth-child(2n).cart_item td {
	background: #f5f5f5;
}
table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
	background: #ffffff;
}
table.mpc-wrap tbody tr td.mpc-product-name > a {
	text-decoration: none !important;
	font-weight: bold;
}
table.mpc-wrap tbody tr:nth-child(2n) td .qty {
	background: #fff;
}
table.mpc-wrap img {
	max-width: none;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}
table.mpc-wrap img:hover {
	cursor: pointer;
}
.mpc-product-title a{
	text-decoration: underline;
}
.mpc-container input[type="checkbox"] {
	width: 32px;
	height: 32px;
	outline: none;
	vertical-align: middle;
	margin-right: 7px;
}
select.mpc-orderby, td.mpc-product-variation select, .mpcp-cat-filter select, .mpcp-tag-filter select {
	max-width: 200px;
    min-width: 75%;
    display: inline-block;
    border-radius: 4px;
	padding: 6px 10px;
}
#brx-content select.mpc-orderby, #brx-content td.mpc-product-variation select, #brx-content .mpcp-cat-filter select, #brx-content .mpcp-tag-filter select {
	padding: 0 25px 0 10px;
}
td.mpc-product-variation select {
	margin-bottom: 10px;
}
table.mpc-wrap td select:last-of-type {
	margin-bottom: 0;
}
.mpc-asearch input {
	border-radius: 4px;
    outline: none;
    background: #fff;
    box-shadow: none;
    line-height: 25px;
    padding: 4px 10px;
}
.wp-theme-twentytwentyfive .mpc-asearch input{
	line-height: 22px;
}
select.mpc-orderby, td.mpc-product-variation select, .mpcp-cat-filter select, .mpcp-tag-filter select, .mpc-asearch input{
	border: 1px solid #666;
}
#main-content .mpc-asearch input{
	line-height: 37px;
	padding-left: 5px;
}
.wp-theme-Divi #main-content .mpc-asearch input{
	line-height: 22px;
}
#main-content select.mpc-orderby, #main-content td.mpc-product-variation select, #main-content .mpcp-cat-filter select, #main-content .mpcp-tag-filter select{
	padding: 10px;
}
.wp-theme-Divi #main-content select.mpc-orderby, .wp-theme-Divi #main-content td.mpc-product-variation select, .wp-theme-Divi #main-content .mpcp-cat-filter select, .wp-theme-Divi #main-content .mpcp-tag-filter select{
	padding: 5px;
}
#brx-content .mpc-asearch input {
	line-height: 32px;
	border: 1px solid #666;
}
#brx-content .mpc-asearch input:focus {
	outline: 2px solid currentColor;
}
.mpc-wrap input.input-text.qty.text {
	padding: 6px 3px;
	width: 45px;
	border-radius: 0;
}
.clear-button a.reset_variations {
	margin: 0;
}
.total-row {
	text-align: right;
	margin-bottom: 10px;
}
span.mpc-total {
	padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.total-label {
	font-size: 15px;
}
.mpc-button {
	text-align: right;
	margin-bottom: 10px;
}
.mpc-button > div {
	display: inline-block;
}
.mpc-product-range {
	margin-right: 15px;
	font-size: 14px;
}
.mpc-product-range p span {
    font-weight: bold;
}
.mpc-button button, .mpc-button input[type=submit], .mpc-button input.mpc-reset {
	border: 0;
	border-radius: 0;
	background: none;
	cursor: pointer;
	padding: 12.5px 25px;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	transition: .5s;
	line-height: 1;
}
.mpc-button button, .mpc-button input.mpc-reset {
	background-color: #f3f3f3;
	border-color: #d5d5d5;
	color: #333333;
	margin-right: 5px;
}
.mpc-button button:hover, .mpc-button input[type=submit]:hover, .mpc-button input.mpc-reset:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.mpc-button input.mpc-add-to-cart.wc-forward {
	color: #fff;
	/* background: #666666; */
	border-width: 1px;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 4px;
}
.mpcpopimg{
	display: none;
}
.mpcpi-wrap{
	display: flex;
	position: relative;
}
.wfl-sale {
	color: #fff;
	background: #8cbd80;
	line-height: 1;
	display: inline-block;
	padding: 4px 8px;
	text-transform: uppercase;
	font-size: 12px;
	position: absolute;
	overflow: hidden;
	border-top-left-radius: 4px;
}
/* The Modal (background) */
.mpc-popup {
	transition: 0.3s;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55); /* Slight opacity for dark overlay */
	backdrop-filter: blur(5px); /* Apply the blur effect */
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	text-align: center;
	z-index: 999999;
}
.mpc-popup .image-wrap,
.mpc-popup .mpc-gallery {
	position: relative;
	z-index: 1; /* Keep content above the backdrop blur */
}
.admin-bar .mpc-popup {
	top: 32px;
}
/* Modal Content (image) */
#mpcpop img {
	margin: auto;
	max-height: 75vh;
}
/* Add Animation */
#mpcpop img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
h4.mpcpop-title {
	color: #fff;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: inherit;
}
#mpcpop .mpcpop-close {
	position: absolute;
	right: 13px;
	top: 10px;
	width: 30px;
	height: 30px;
}
#mpcpop .mpcpop-close:before{
	font-size: 30px;
	color: white;
}
#mpcpop .mpcpop-close:hover:before{
	cursor: pointer;
}
.mpc-single-active .mpc-single-price {
	/*font-size: 130%;*/
	font-weight: 600;
}
.mpc-popify{
	display: block;
}
.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter {
	float: left;
	margin-right: 10px;
	display: inline-flex;
}
.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter, .mpc-all-select {
	margin-bottom: 10px;
	position: relative;
}
.mpc-asearch {
	position: relative;
}
span.mpc-close-search {
	display: none;
	position: absolute;
	right: 0px;
	top: 2px;
	padding: 2px 9px;
	border-radius: 29px;
	font-size: 27px;
	transform: rotate(45deg);
	line-height: 27px;
	cursor: pointer;
}
.mpc-sort label {
	color: #000;
}
.mpc-sort form {
	margin: 0;
}
.mpc-all-select {
	float: right;
}
.mpc-all-select input[type="checkbox"] {
	margin: 0;
}
.wp-theme-Divi .mpc-all-select input[type="checkbox"] {
	margin: 0;
}
.mpc-all-select label{
	display: inline-block;
	color: #000;
	margin-right: 10px;
}
.woocommerce-page .mpc-all-select label{
	margin-bottom: 0;
}
span.mpc-single-add {
	font-weight: bold;
	padding-left: 10px;
}
span.mpc-single-add:hover {
	color: #6a47ea;
	cursor: pointer;
}
.mpc-pagination {
	text-align: center;
}
.mpc-inner-pagination {
	display: inline-block;
	position: relative;
}
.mpc-pagenumbers {
	display: inline-block;
}
.mpc-pagenumbers span {
	margin-left: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 8px 15px;
}
.mpc-pagenumbers span.mpc-divider {
	border: none;
	font-weight: bold;
	letter-spacing: 3px;
}
.mpc-pagenumbers span.current {
	color: white;
}
.table-query{
	display: initial;
	position: absolute;
}
.mpc-container .mpc-product-title .product-parent a{
	background: #727272;
	color: #fff;
	padding: 1px 10px;
	font-size: 13px;
	border-radius: 15px;
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
/* loader */
.mpc-loading{
	color: #eeeeee;
	position: relative;
	opacity: .5;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: pointer;
	padding: 0.6180469716em 1.41575em;
	display: inline-block;
}
.mpc-loading:after {
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	line-height: inherit;
	content: "";
	animation: fa-spin .75s linear infinite;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	display: block;
}
span.mpc-loader {
	position: absolute;
	background: #ffffff6e;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 99999999;
}
span.mpc-loader img {
	width: 70px;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
table.mpc-wrap tbody tr td {
	padding: 0.5em;
}
.mpc-popup ins {
	background: none;
}
.woo-notices.mpc-notice {
	background: #ff9797;
}
/* floating total */
.mpc-floating-total {
	position: fixed;
	left: 5px;
	top: 50%;
	background: #ccc;
	padding: 2%;
	text-align: center;
}
.mpc-floating-total span.float-label {
	display: block;
	text-decoration: underline;
}
.mpc-floating-total.active {
	padding: 26px 30px;
	background: #15b555;
	color: #fff;
}
.mpc-floating-total.active span.float-label {
	text-decoration: none;
	padding: 1px 10px;
	border-radius: 5px;
	background: #077633;
	cursor: pointer;
}
.woocommerce-notices-wrapper.mpc-cart-messege{
	margin: 20px 0 0 0;
}
.mpc-cart-messege .woocommerce-message {
	margin: 0 0 20px 0;
    padding: 1em 2em 1em 3.5em;
    background: #0f834d;
	color: #fff;
}
.mpc-popify.mpc-cart-messege .woocommerce-message a{
	color: #000;
}
.mpc-popup.mpc-popify .woocommerce-message::before {
    top: 1.05em;
}
.product-image img{
	max-width: none !important;
}
.mpc-asearch img {
	display: inline-block;
	width: 26px;
	margin: -5px 15px;
}
span.mpc-mobile-only {
	display: none;
}
button.mpce-single-add, .mpc-button input[type=submit], .mpc-button input.mpc-reset {
	width: auto;
	font-weight: normal;
	font-size: 14px;
	border-radius: 3px;
}
table.mpc-wrap thead tr th:first-child{
	border-top-left-radius: 4px;
}
table.mpc-wrap thead tr th:last-child{
	border-top-right-radius: 4px;
}
table.mpc-wrap tbody tr.mpc-search-empty, table.mpc-wrap tbody tr.mpc-search-empty td {
	background: #cc7d7d;
	color: #fff;
	border-radius: 4px;
}
form.mpc-cart input[type="search"]::-webkit-search-cancel-button{
	position:relative;
	right:20px;
}
.mpc-fixed-header {
	position: fixed;
	top: -1px;
	z-index: 999;
}
.mpc-fixed-header, .mpc-fixed-header table {
	margin: 0;
}
.mpc-fixed-header table {
    border-collapse: collapse;
}
/* .admin-bar .mpc-fixed-header{
	top: 31px;
} */
.mpc-fixed-header table thead tr th:first-child{
	border-bottom-left-radius: 4px;
}
.mpc-fixed-header table thead tr th:last-child{
	border-bottom-right-radius: 4px;
}
.mpc-table-header.mpc-fixed-filter {
	position: fixed;
    top: 49px;
    z-index: 999;
    background: #ffffff4f;
    /* padding: 10px; */
    box-shadow: 0 1px 11px 0 rgb(17 17 17 / 31%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
    backdrop-filter: blur(6px);
}
.mpc-fixed-header table thead th, .entry-content .mpc-fixed-header table thead th {
    background: #00000091;
    backdrop-filter: blur(10px);
}
/* .admin-bar .mpc-table-header.mpc-fixed-filter {
	top: 81px;
} */
.mpc-table-header.mpc-fixed-filter > div {
	margin: 0;
	padding: 10px 0 10px 10px;
}
.mpc-table-header.mpc-fixed-filter > div:last-child{
	padding-right: 10px;
}
#brx-content .mpc-table-header.mpc-fixed-filter .mpc-all-select {
    margin-top: 5px;
}
span.mpc-qlower{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
span.mpc-qhigher{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.total-row.mpc-fixed-total-m {
	position: fixed;
	bottom: 0;
	margin: 0;
	/* padding: 8px; */
	z-index: 9;
	background: rgb(0 0 0 / 40%);
	color: #fff;
	backdrop-filter: blur(5px);
	text-align: left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 16px;
}
span.mpc-fixed-cart {
	float: right;
	font-weight: normal;
	font-size: 16px;
	padding: 2px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.total-row.mpc-fixed-total-m > span {
    vertical-align: middle;
}
.total-row.mpc-fixed-total-m span.total-label, .total-row.mpc-fixed-total-m span.mpc-total{
	line-height: 42px;
    padding-left: 10px;
}
.total-row.mpc-fixed-total-m span.mpc-fixed-cart{
	margin: 10px;
}
.mpcp-loading {
	position: absolute;
    right: 20px;
    top: 3px;
    width: 30px;
    height: 30px;
    border: 4px #fff solid;
    border-top: 4px #878787 solid;
    border-right: 4px #878787 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
.mpc-fixed-filter .mpcp-loading{
	width: 31px;
	height: 30px;
}
#brx-content .mpc-fixed-filter .mpcp-loading{
	width: 40px;
	height: 31px;
	margin-top: 5px;
}
@keyframes sp-anime {
	100% {
		transform: rotate(360deg);
	}
}
td.mpc-product-quantity input[type="number"] {
	width: 60px;
    height: 42px;
    text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}
td.mpc-product-quantity input[type="number"]:disabled {
	background-color: #e6e6e6;
    opacity: 0.5;
}
table.mpc-wrap tbody tr td:last-child, table.mpc-wrap thead tr th:last-child {
    text-align: right;
}
table.mpc-wrap tbody tr.mpc-subhead td:last-child, table.mpc-wrap thead tr.mpc-subhead th:last-child {
    text-align: left;
}
/* Avada theme support start */
body.wp-theme-Avada .mpc-container a, .wp-theme-Avada .mpc-asearch input, .wp-theme-Avada .mpc-subheader-info{
	color: #000;
}
.wp-theme-Avada button.mpce-single-add, .wp-theme-Avada .mpc-button input[type=submit], .wp-theme-Avada  .mpc-button input.mpc-reset{
	border: 1px solid #5f5f5f;
	line-height: 15px;
	padding: 10px 20px;
}
.wp-theme-Avada .mpc-button{
	padding: 5px;
}
.wp-theme-Avada select.mpc-orderby, .wp-theme-Avada td.mpc-product-variation select, .wp-theme-Avada .mpcp-cat-filter select, .wp-theme-Avada .mpcp-tag-filter select, .wp-theme-Avada .mpc-asearch input{
	padding: 5px 10px;
    border-color: inherit;
    border: 1px solid #ddd;
    height: 40px;
}
/* Avada theme support end */
/* Mobile CSS */
@media screen and (max-width: 1600px) {
	.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter{
		margin-right: 10px;
		max-width: 25%;
	}
}
@media screen and (max-width: 1120px) {
	.mpc-table-header .mpc-all-select label, .mpc-table-header.mpc-fixed-filter .mpc-all-select label{
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.mpc-table-header.mpc-fixed-filter .mpc-all-select{
		display: none;
	}
}
@media screen and (max-width: 767px) {
	#brx-content .mpc-container{
		padding: 0 10px;
	}
	#content table.mpc-wrap tbody tr:last-child, #main-content table.mpc-wrap tbody tr:last-child, #brx-content table.mpc-wrap tbody tr:last-child{
		margin-bottom: 0;
	}
	#content table.mpc-wrap tbody tr:last-child td, #main-content table.mpc-wrap tbody tr:last-child td, #brx-content table.mpc-wrap tbody tr:last-child td, .entry-content table.mpc-wrap tbody tr:last-child td {
		border-bottom: none;
	}
	#content table.mpc-wrap tbody tr td:last-child, #main-content table.mpc-wrap tbody tr td:last-child, #brx-content table.mpc-wrap tbody tr td:last-child {
		text-align: left;
	}
	#content table.mpc-wrap tr, #main-content table.mpc-wrap tr, #brx-content table.mpc-wrap tr{
		border-bottom: 1px solid #c1c1c1;
        box-shadow: 0 0 8px rgb(205 205 205 / 70%);
	}
	.total-row.mpc-fixed-total-m {
		bottom: 0;
		width: 100%;
		left: 0;
	}
	.mpc-table-header .mpc-all-select label, .mpc-table-header.mpc-fixed-filter .mpc-all-select label{
		display: inline-block;
	}
	.mpc-table-header.mpc-fixed-filter .mpc-all-select{
		display: block;
	}
	.mpc-table-header.mpc-fixed-filter {
		display: flex;
		top: 0;
		left: 0;
		width: 100%;
	}
	.admin-bar .mpc-table-header.mpc-fixed-filter{
		top: 0;
	}
	.mpc-table-header.mpc-fixed-filter > div {
		flex: 0 0 auto;
	}
	table.mpc-wrap tbody tr.mpc-search-empty {
		min-height: auto;
	}
	table.mpc-wrap tbody tr.mpc-search-empty td {
		padding-left: 10px;
	}
	table.mpc-wrap tbody tr td{
		margin-top: 10px;
	}
	table.mpc-wrap tbody tr td:last-child{
		margin-bottom: 5px;
	}
	table.mpc-wrap tbody tr td:nth-child(-n + 2) {
		margin-top: 0;
	}
	/* table.mpc-wrap tbody tr td.mpc-product-quantity{
		height: 34px;
	} */
	#content table.mpc-wrap tbody tr td.mpc-product-quantity{
		/* height: 44px; */
		margin-bottom: 20px;
	}
	.mpc-container input[type="checkbox"]{
		margin: 0;
	}
	.product-parent{
		margin: 0 0 10px;
	}
	.mpc-range del{
		text-decoration-color: #6c6a6a;
	}
	.mpc-range del span.woocommerce-Price-amount.amount {
		font-weight: normal;
		font-size: 14px;
		color: #6c6a6a;
	}
	table.mpc-wrap {
		margin-bottom: 10px;
	}
	table.mpc-wrap thead, tr.cart_item.simple td.mpc-product-variation {
		display: none;
	}
	table.mpc-wrap tbody tr, table.mpc-wrap tbody td {
		display: block;
	}
	td.mpc-product-price.mpc-single-active{
		display: inline-block;
	}
	table.mpc-wrap tbody tr, #main-content table.mpc-wrap tbody tr, #brx-content table.mpc-wrap tbody tr {
		position: relative;
		margin-bottom: 25px;
		padding: 7px;
		background-color: #f5f5f7;
		border-radius: 5px;
	}
	main table.mpc-wrap tbody tr{
		padding: 10px;
	}
	main table.mpc-wrap tbody tr td{
		margin-top: 0;
	}
	main table.mpc-wrap tbody tr td:last-child{
		text-align: left;
	}
	table.mpc-wrap.mpc-no-image tbody tr {
		padding-top: 8px;
	}
	table.mpc-wrap tbody tr:after {
		content: "";
		display: table;
		clear: both;
	}
	table.mpc-wrap.mpc-no-image tbody tr td.mpc-product-name {
		margin-right: 80px;
	}
	table.mpc-wrap tbody td.mpc-product-select {
		position: static;
	}
	table.mpc-wrap.mpc-no-image tbody td.mpc-product-select {
		position: absolute;
		top: 4px;
		right: 10px;
	}
	#content table.mpc-wrap tbody tr td, #main-content table.mpc-wrap tbody tr td, #brx-content table.mpc-wrap tbody tr td{
		padding: 0;
		text-align: left;
		background-color: #f5f5f7;
	}
	table.mpc-wrap.mpc-no-image tbody tr td {
		text-align: left;
	}
	table.mpc-wrap tbody tr:nth-child(2n) td {
		background: #f5f5f7;
	}
	table.mpc-wrap tbody tr:nth-child(2n).cart_item td, table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
		background: #f5f5f7;
	}
	table.mpc-wrap tbody tr:nth-child td .qty {
		background: #f2f2f2;
	}
	table.mpc-wrap tbody tr.total-row {
		text-align: right;
	}
	table.mpc-wrap tbody tr.total-row td {
		display: inline-block;
		text-align: left;
	}
	.mpc-pagination {
		margin: 30px 0;
	}
	.table-query {
		display: initial;
	}
	.mpc-wrap .variation-group {
		margin-bottom: 10px;
	}
	.mpc-wrap .variation-group:last-child{
		margin-bottom: 0;
	}
	#mpcpop img {
		margin-top: 45px;
		max-width: 98%;
		max-height: 70vh;
	}
	.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter {
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
		max-width: 100%;
		width: 100%;
	}
	.mpc-fixed-filter .mpc-sort, .mpc-fixed-filter .mpcp-cat-filter, .mpc-fixed-filter .mpc-asearch, .mpc-fixed-filter .mpcp-tag-filter{
		max-width: 47%;
	}
	select.mpc-orderby, .mpcp-cat-filter select, .mpc-asearch input, .mpcp-tag-filter select {
		display: block;
		width: 100%;
	}
	.mpc-all-select {
		margin-bottom: 20px;
	}
	#mpcpop .mpcpop-close {
		font-size: 16px;
		line-height: 24px;
		width: 24px;
		height: 24px;
		right: 15px;
        background-color: #8a8a8a;
        border-radius: 50%;
        box-shadow: 2px 1px 6px 5px #8a8a8a;
	}

	/* Update: August 01, 2024 */
	#content table.mpc-wrap tbody tr td.mpc-product-image, #main-content table.mpc-wrap tbody tr td.mpc-product-image, #brx-content table.mpc-wrap tbody tr td.mpc-product-image, main table.mpc-wrap tbody tr td.mpc-product-image {
		position: absolute;
		top: 7px;
		padding-left: 0;
		float: left;
	}
	main table.mpc-wrap tbody tr td.mpc-product-image{
		top: 3px;
	}
	button.mpce-single-add{
		margin: 0 0 0 10px;
		vertical-align: middle;
		font-weight: 400;
		font-size: 14px;
		padding: 5px 30px;
	}
	span.mpc-mobile-only {
		display: block;
		float: left;
		padding-right: 10px;
		font-size: 16px;
		color: #6d6d6d;
	}
	form.mpc-cart select, form.mpc-cart input[type="search"]{
		border-radius: 5px;
		border: 1px solid #b9b9b9;
	}
	form.mpc-cart input[type="search"]{
		box-shadow: none;
	}
	.admin-bar .mpc-popup{
		top: 0;
	}
	table.mpc-wrap tbody tr.mpc-subhead {
		min-height: auto;
		padding: 0;
	}
	#content table.mpc-wrap tbody tr.mpc-subhead td, #main-content table.mpc-wrap tbody tr.mpc-subhead td, #brx-content table.mpc-wrap tbody tr.mpc-subhead td, #main table.mpc-wrap tbody tr.mpc-subhead td, main table.mpc-wrap tbody tr.mpc-subhead td{
		padding: 0;
	}
	table.mpc-wrap tbody tr.mpc-subhead td:last-child{
		margin-bottom: 0;
	}
	.hentry .entry-content .mpc-container a {
		text-decoration: none;
	}
	.mpc-table-header.mpc-fixed-filter.mpc-free-head{
		display: block;
	}
	.mpc-table-header.mpc-fixed-filter.mpc-free-head .mpc-sort{
		float: inline-start;
	}
	.mpc-table-header .mpc-sort select, .mpc-table-header .mpcp-cat-filter select, .mpc-table-header .mpcp-tag-filter select{
		max-width: 100%;
	}
	/* Storefront theme start */
	.theme-storefront .total-row.mpc-fixed-total-m{
		bottom: 69px;
	}
	/* Avada theme support start */
	.wp-theme-Avada #content table.mpc-wrap tr.mpc-subhead td{
		padding-left: 0;
	}
	.wp-theme-Avada table.mpc-wrap tbody{
		background-color: transparent !important;
	}
	.wp-theme-Avada table.mpc-wrap tbody tr td:last-child{
		margin-bottom: 0;
	}
	.wp-theme-Avada table.mpc-wrap bdi{
		text-align: left;
	}
	/* Avada theme support end */
}
