table.mpc-wrap {
	width: 100%;
}
#content table.mpc-wrap, #content table.mpc-wrap tr, #content table.mpc-wrap th, #content table.mpc-wrap td,
#main-content table.mpc-wrap, #main-content table.mpc-wrap tr, #main-content table.mpc-wrap th, #main-content table.mpc-wrap td {
	border: 0;
}
table.mpc-wrap thead th, .mpc-fixed-header table thead tr th {
	background: #444;
	color: #fff;
	padding: .75em 1em;
	text-align: left;
}
button.mpce-single-add {
	padding: 4px 10px;
	margin-top: 5px;
}
.mpc-stock div {
	color: #0f834d;
}
table.mpc-wrap tbody tr td {
	padding: 1em;
	vertical-align: middle;
	color: #333;
}
table.mpc-wrap tbody tr:nth-child(2n).cart_item td {
	background: #f5f5f5;
}
table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
	background: #ffffff;
}
table.mpc-wrap tbody tr td.mpc-product-name > a {
	text-decoration: none !important;
	font-weight: bold;
}
table.mpc-wrap tbody tr:nth-child(2n) td .qty {
	background: #fff;
}
table.mpc-wrap img {
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}
table.mpc-wrap img:hover {
	cursor: pointer;
}
.mpc-product-title a{
	text-decoration: underline;
}
.mpc-container input[type="checkbox"] {
	width: 32px;
	height: 32px;
	outline: none;
	vertical-align: middle;
	margin-right: 7px;
}
select.mpc-orderby, td.mpc-product-variation select, .mpcp-cat-filter select, .mpcp-tag-filter select {
	background-color: white;
	display: inline-block;
	padding: 5px 20px 5px 10px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 12px) calc(14px),
	calc(100% - 7px) calc(14px),
	calc(100% - 24px) 7px;
	background-size:
		5px 5px,
		5px 5px,
		0px 19px;
	background-repeat: no-repeat;
	border-radius: 4px;
	border: 1px solid #666;
	height: 35px;
	font-size: 15px;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
.mpc-asearch input {
	border-radius: 4px;
	outline: none;
	border: 1px solid #666;
	height: 35px;
	background: #fff;
	padding: 0 15px;
	box-shadow: none;
}
.mpc-wrap .variation-group {
	margin-bottom: .75em;
}
.mpc-wrap .variation-group:last-child {
	margin-bottom: 0;
}
.mpc-wrap .variation-group > label {
	display: block;
}
.mpc-wrap .variation-group > select {
	min-width: 65%;
}
.mpc-wrap input.input-text.qty.text {
	padding: 6px 3px;
	width: 45px;
	border-radius: 0;
}
.clear-button a.reset_variations {
	margin: 0;
}
.total-row {
	font-weight: bold;
	text-align: right;
	margin-bottom: 20px;
	font-size: 1.3em;
}
span.mpc-total {
	text-align: right;
	display: inline-block;
	padding-left: 20px;
}
.total-label {
	text-align: right;
	font-weight: normal;
	margin-left: 5px;
}
.mpc-button {
	text-align: right;
}
.mpc-button > div {
	display: inline-block;
}
.mpc-product-range {
	margin-right: 15px;
}
.mpc-button button, .mpc-button input[type=submit], .mpc-button input.mpc-reset {
	border: 0;
	border-radius: 0;
	background: none;
	cursor: pointer;
	padding: 12.5px 25px;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	-webkit-appearance: none;
	transition: .5s;
	line-height: 1;
}
.mpc-button button, .mpc-button input.mpc-reset {
	background-color: #f3f3f3;
	border-color: #d5d5d5;
	color: #333333;
	margin-right: 5px;
}
.mpc-button button:hover, .mpc-button input[type=submit]:hover, .mpc-button input.mpc-reset:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.mpc-button input.mpc-add-to-cart.wc-forward {
	color: #fff;
}
.mpcpopimg{
	display: none;
}
.mpcpi-wrap{
	position: relative;
}
.wfl-sale {
	color: #fff;
	background: #8cbd80;
	line-height: 1;
	display: inline-block;
	padding: 4px 8px;
	text-transform: uppercase;
	font-size: 12px;
	position: absolute;
	overflow: hidden;
	border-top-left-radius: 4px;
}
/* The Modal (background) */
.mpc-popup {
	transition: 0.3s;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55); /* Slight opacity for dark overlay */
	backdrop-filter: blur(5px); /* Apply the blur effect */
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
	text-align: center;
	z-index: 999999;
}
.mpc-popup .image-wrap,
.mpc-popup .mpc-gallery {
	position: relative;
	z-index: 1; /* Keep content above the backdrop blur */
}
.admin-bar .mpc-popup {
	top: 32px;
}
/* Modal Content (image) */
#mpcpop img {
	margin: auto;
	max-height: 75vh;
}
/* Add Animation */
#mpcpop img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
h4.mpcpop-title {
	color: #fff;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: inherit;
}
#mpcpop .mpcpop-close {
	position: absolute;
	right: 13px;
	top: 10px;
	width: 30px;
	height: 30px;
}
#mpcpop .mpcpop-close:before{
	font-size: 30px;
	color: white;
}
#mpcpop .mpcpop-close:hover:before{
	cursor: pointer;
}
.mpc-single-active .mpc-single-price {
	/*font-size: 130%;*/
	font-weight: 600;
}
p.mpcpop-price {
	color: #fff;
}
select.mpc-highlighter{
	border: 1px solid #e74c3c;
}
.mpc-popify{
	display: block;
}
.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter {
	float: left;
	margin-bottom: 20px;
	margin-right: 15px;
	display: inline-flex;
}
.mpc-asearch {
	position: relative;
}
span.mpc-close-search {
	display: none;
	position: absolute;
	right: 0px;
	top: 2px;
	padding: 2px 9px;
	border-radius: 29px;
	font-size: 27px;
	transform: rotate(45deg);
	line-height: 27px;
	cursor: pointer;
}
.mpc-sort label {
	color: #000;
}
.mpc-sort form {
	margin: 0;
}
.mpc-all-select {
	float: right;
}
.mpc-all-select input[type="checkbox"] {
	margin-right: 0;
}
.mpc-all-select label {
	color: #000;
	margin-right: 10px;
}
span.mpc-single-add {
	font-weight: bold;
	padding-left: 10px;
}
span.mpc-single-add:hover {
	color: #6a47ea;
	cursor: pointer;
}
.mpc-pagination {
	text-align: center;
}
.mpc-inner-pagination {
	display: inline-block;
	position: relative;
}
.mpc-pagenumbers {
	display: inline-block;
}
.mpc-pagenumbers span {
	min-width: 34px;
	height: 34px;
	line-height: 32px;
	margin-left: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 0 5px;
}
.mpc-pagenumbers span.mpc-divider {
	border: none;
	font-weight: bold;
	letter-spacing: 3px;
}
.mpc-pagenumbers span.current {
	color: white;
}
.table-query{
	display: initial;
	position: absolute;
}
.mpc-container .mpc-product-title .product-parent a{
	background: #e9eff3;
	color: #201e1e;
	padding: 0 10px;
	font-size: 12px;
	margin: 0 0 5px 0;
	border-radius: 4px;
	border: 1px solid #c3c3c3;
}
.mpce-quantity {
	display: flex;
	align-items: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.mpce-quantity span {
	background: #d7d7d769;
	width: 35px;
	display: inline-block;
	text-align: center;
	line-height: 1.3;
	color: #000;
	padding: 8px 0;
}
.mpce-quantity span:hover {
	cursor: pointer;
	opacity: .9;
}
.mpce-quantity span.mpcqdis {
	opacity: .2;
	cursor: not-allowed;
}
.mpce-quantity input{
	box-shadow: none;
	line-height: 25px;
}
.mpce-quantity input::-webkit-outer-spin-button,
.mpce-quantity input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.mpce-quantity input {
	-moz-appearance:textfield; /* Firefox */
}
.mpce-quantity input:focus {
	outline: 1px solid #7f54b3;
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
/* loader */
.mpc-loading{
	color: #eeeeee;
	position: relative;
	opacity: .5;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: pointer;
	padding: 0.6180469716em 1.41575em;
	display: inline-block;
}
.mpc-loading:after {
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	line-height: inherit;
	vertical-align: baseline;
	content: "";
	animation: fa-spin .75s linear infinite;
	height: 20px;
	width: 20px;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	display: block;
}
.mpc-container {
	position: relative;
}
span.mpc-loader {
	position: absolute;
	background: #ffffff6e;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 99999999;
}
span.mpc-loader img {
	width: 70px;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
table.mpc-wrap tbody tr td {
	padding: 0.5em;
}
.mpc-popup ins {
	background: none;
}
.woo-notices.mpc-notice {
	background: #ff9797;
}
/* Gallery */
.mpcp-gallery .gallery-item {
	width: 47%;
	margin-top: 5px;
	position: relative;
	display: inline-block;
}
.gallery-item:nth-child(2) {
	float: right;
}
.mpcp-gallery span.moregallery {
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#mpcpop .mpc-gallery img {
	width: 65px;
	float: left;
	margin-right: 10px;
}
#mpcpop .mpc-gallery {
	position: fixed;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}
.mpc-gallery img.mpcgi-selected {
	border: 4px solid #2199c5;
}
/* floating total */
.mpc-floating-total {
	position: fixed;
	left: 5px;
	top: 50%;
	background: #ccc;
	padding: 2%;
	text-align: center;
}
.mpc-floating-total span.float-label {
	display: block;
	text-decoration: underline;
}
.mpc-floating-total.active {
	padding: 26px 30px;
	background: #15b555;
	color: #fff;
}
.mpc-floating-total.active span.float-label {
	text-decoration: none;
	padding: 1px 10px;
	border-radius: 5px;
	background: #077633;
	cursor: pointer;
}
.mpc-subheader {
	display: flex;
	align-items: center;
	padding: 10px 0;
}
table.mpc-wrap .mpc-subheader-img img {
	margin: 0 10px 0 0;
	border: 1px solid #c2b8b8;
}
.mpcp-gallery .gallery-item img {
	width: 100%;
	margin-top: 3%;
}
.mpc-subheader-info h3 {
	margin: 0;
}

table.mpc-wrap tbody tr.mpc-subhead td{
	padding: 0;
}
tr.mpc-subhead, tr.mpc-subhead .mpc-subheader{
	background-color: #dee8ec;
	padding-left: 10px;
}
.mpc-cart-messege .woocommerce-message {
	margin: 0 0 10px 0;
}
.product-image img{
	max-width: none !important;
}
.mpc-asearch img {
	display: inline-block;
	width: 26px;
	margin: -5px 15px;
}
span.mpc-mobile-only {
	display: none;
}
.hentry .entry-content .mpc-subheader-info a {
	text-decoration: none;
	font-size: 18px;
}
button.mpce-single-add, .mpc-button input[type=submit], .mpc-button input.mpc-reset {
	font-weight: normal;
	font-size: 14px;
	border-radius: 3px;
}
table.mpc-wrap thead tr th:first-child{
	border-top-left-radius: 4px;
}
table.mpc-wrap thead tr th:last-child{
	border-top-right-radius: 4px;
}
table.mpc-wrap tbody tr.mpc-search-empty, table.mpc-wrap tbody tr.mpc-search-empty td {
	background: #cc7d7d;
	color: #fff;
	border-radius: 4px;
}
form.mpc-cart input[type="search"]::-webkit-search-cancel-button{
	position:relative;
	right:20px;
}
.mpc-fixed-header {
	position: fixed;
	top: -1px;
	z-index: 999;
}
.admin-bar .mpc-fixed-header{
	top: 31px;
}
.mpc-fixed-header table thead tr th:first-child{
	border-bottom-left-radius: 4px;
}
.mpc-fixed-header table thead tr th:last-child{
	border-bottom-right-radius: 4px;
}
.mpc-table-header .mpc-sort select, .mpc-table-header .mpcp-cat-filter select, .mpc-table-header .mpcp-tag-filter select {
	padding-right: 25px;
	max-width: 160px;
}
.mpc-table-header.mpc-fixed-filter {
	position: fixed;
	top: 49px;
	z-index: 999;
	background: #ffffff;
	padding: 10px;
	box-shadow: 0 1px 11px 0 rgb(17 17 17 / 31%);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow-x: auto;
	white-space: nowrap;
}
.admin-bar .mpc-table-header.mpc-fixed-filter {
	top: 81px;
}
.mpc-table-header.mpc-fixed-filter > div {
	margin-bottom: 0;
}
span.mpc-qlower{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
span.mpc-qhigher{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.total-row.mpc-fixed-total-m {
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 8px;
	z-index: 9;
	background: rgb(0 0 0 / 40%);
	color: #fff;
	backdrop-filter: blur(5px);
	text-align: left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 16px;
}
span.mpc-fixed-cart {
	float: right;
	font-weight: normal;
	font-size: 16px;
	padding: 2px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.total-row.mpc-fixed-total-m > span {
    vertical-align: middle;
}
.mpcp-loading {
	width: 34px;
	height: 34px;
	border: 4px #fff solid;
	border-top: 4px #878787 solid;
	border-right: 4px #878787 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
	margin-left: 5px;
}
.mpc-fixed-filter .mpcp-loading{
	width: 31px;
	height: 30px;
}
@keyframes sp-anime {
	100% {
		transform: rotate(360deg);
	}
}
/* Elementor section start */
.woocommerce-page.mpc-container td.mpc-product-quantity .quantity{
	width: max-content !important;
	border: 1px solid #d5d5d5 !important;
}
.woocommerce.mpc-container td.mpc-product-quantity .quantity .minus, .woocommerce.mpc-container td.mpc-product-quantity .quantity .qty, .woocommerce.mpc-container td.mpc-product-quantity .quantity .plus{
	width: 33px !important;
	height: 32px !important;
}
.woocommerce.mpc-container .quantity input.qty, .woocommerce.mpc-container .quantity .minus, .woocommerce.mpc-container .quantity .plus{
	border-radius: unset !important;
}
/* Elementor section end */
#content .woocommerce-page.mpc-container td.mpc-product-quantity .quantity{
	border: none !important;
}
#content .woocommerce.mpc-container td.mpc-product-quantity .quantity .minus, #content .woocommerce.mpc-container td.mpc-product-quantity .quantity .qty, #content .woocommerce.mpc-container td.mpc-product-quantity .quantity .plus{
	width: 35px !important;
	height: 37px !important;
}
/* Mobile CSS */
@media screen and (max-width: 1600px) {
	.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter{
		margin-right: 10px;
		max-width: 25%;
	}
}
@media screen and (max-width: 1120px) {
	.mpc-table-header .mpc-all-select label, .mpc-table-header.mpc-fixed-filter .mpc-all-select label{
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.mpc-table-header.mpc-fixed-filter .mpc-all-select{
		display: none;
	}
	.mpc-table-header.mpc-fixed-filter > div{
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 767px) {
	.total-row.mpc-fixed-total-m {
		bottom: 69px;
		width: 100%;
		left: 0;
	}
	#main-content .total-row.mpc-fixed-total-m {
		bottom: 0;
	}
	.mpc-table-header .mpc-all-select label, .mpc-table-header.mpc-fixed-filter .mpc-all-select label{
		display: inline-block;
	}
	.mpc-table-header.mpc-fixed-filter .mpc-all-select{
		display: block;
	}
	.mpc-table-header.mpc-fixed-filter {
		display: flex;
		top: 0;
		left: 0;
		width: 100%;
	}
	.admin-bar .mpc-table-header.mpc-fixed-filter{
		top: 0;
	}
	.mpc-table-header.mpc-fixed-filter > div {
		margin-right: 10px;
		flex: 0 0 auto;
	}
	table.mpc-wrap tbody tr.mpc-search-empty {
		min-height: auto;
	}
	table.mpc-wrap tbody tr.mpc-search-empty td {
		padding-left: 10px;
	}
	table.mpc-wrap tbody tr td{
		margin-top: 10px;
	}
	table.mpc-wrap tbody tr td:last-child{
		margin-bottom: 5px;
	}
	table.mpc-wrap tbody tr td:nth-child(-n + 2) {
		margin-top: 0;
	}
	table.mpc-wrap tbody tr td.mpc-product-quantity{
		height: 34px;
	}
	#content table.mpc-wrap tbody tr td.mpc-product-quantity{
		height: 44px;
	}
	.mpc-container input[type="checkbox"]{
		margin: 0;
	}
	.product-parent{
		margin: 0 0 10px;
	}
	.mpc-range del{
		text-decoration-color: #6c6a6a;
	}
	.mpc-range del span.woocommerce-Price-amount.amount {
		font-weight: normal;
		font-size: 14px;
		color: #6c6a6a;
	}
	table.mpc-wrap {
		margin-bottom: 10px;
	}
	table.mpc-wrap thead, tr.cart_item.simple td.mpc-product-variation {
		display: none;
	}
	table.mpc-wrap tbody tr, table.mpc-wrap tbody td {
		display: block;
	}
	table.mpc-wrap tbody td.mpc-product-price {
		display: inline-block;
	}
	td.mpc-product-price.mpc-single-active{
		display: inline-block;
	}
	#content table.mpc-wrap tbody tr, #main-content table.mpc-wrap tbody tr {
		position: relative;
		margin-bottom: 25px;
		padding: 7px;
		background-color: #f5f5f7;
		border-radius: 5px;
	}
	table.mpc-wrap.mpc-no-image tbody tr {
		padding-top: 8px;
	}
	table.mpc-wrap tbody tr:after {
		content: "";
		display: table;
		clear: both;
	}
	table.mpc-wrap.mpc-no-image tbody tr td.mpc-product-name {
		margin-right: 80px;
	}
	table.mpc-wrap tbody td.mpc-product-select {
		position: static;
	}
	table.mpc-wrap.mpc-no-image tbody td.mpc-product-select {
		position: absolute;
		top: 4px;
		right: 10px;
	}
	#content table.mpc-wrap tbody tr td, #main-content table.mpc-wrap tbody tr td {
		padding: 0;
		text-align: left;
		background-color: #f5f5f7;
	}
	table.mpc-wrap.mpc-no-image tbody tr td {
		text-align: left;
	}
	table.mpc-wrap tbody tr:nth-child(2n) td {
		background: #fdfdfd;
	}
	table.mpc-wrap tbody tr:nth-child(2n).cart_item td, table.mpc-wrap tbody tr:nth-child(2n+1).cart_item td {
		background: #fff;
	}
	table.mpc-wrap tbody tr:nth-child td .qty {
		background: #f2f2f2;
	}
	table.mpc-wrap tbody tr.total-row {
		text-align: right;
	}
	table.mpc-wrap tbody tr.total-row td {
		display: inline-block;
		text-align: left;
	}
	.mpc-pagination {
		margin: 30px 0;
	}
	.table-query {
		display: initial;
	}
	.mpc-wrap .variation-group {
		margin-bottom: 10px;
	}
	.mpc-wrap .variation-group:last-child{
		margin-bottom: 0;
	}
	#mpcpop img {
		margin-top: 45px;
		max-width: 98%;
		max-height: 70vh;
	}
	.mpc-sort, .mpcp-cat-filter, .mpc-asearch, .mpcp-tag-filter {
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
		max-width: 100%;
		width: 100%;
	}
	.mpc-fixed-filter .mpc-sort, .mpc-fixed-filter .mpcp-cat-filter, .mpc-fixed-filter .mpc-asearch, .mpc-fixed-filter .mpcp-tag-filter{
		max-width: 47%;
	}
	select.mpc-orderby, .mpcp-cat-filter select, .mpc-asearch input, .mpcp-tag-filter select {
		display: block;
		width: 100%;
	}
	.mpc-all-select {
		margin-bottom: 20px;
	}
	#mpcpop .mpcpop-close {
		font-size: 16px;
		line-height: 24px;
		width: 24px;
		height: 24px;
		right: 8px;
	}

	/* Update: August 01, 2024 */
	#content table.mpc-wrap tbody tr td.mpc-product-image, #main-content table.mpc-wrap tbody tr td.mpc-product-image {
		position: absolute;
		top: 7px;
		padding-left: 0;
		float: left;
	}
	button.mpce-single-add{
		margin: 0;
		vertical-align: middle;
		font-weight: 400;
		font-size: 14px;
		padding: 5px 30px;
		border-radius: 25px;
	}
	span.mpc-mobile-only {
		display: block;
		float: left;
		padding-right: 3px;
		font-size: 85%;
		color: #6d6d6d;
		line-height: 22px;
	}
	#mpcpop .mpc-gallery{
		display: flex;
		position: relative;
		left: auto;
		transform: unset;
	}
	#mpcpop .mpc-gallery img{
		float: none;
		margin-right: auto;
	}
	form.mpc-cart select, form.mpc-cart input[type="search"]{
		border-radius: 5px;
		border: 1px solid #b9b9b9;
	}
	td.mpc-product-variation select{
		padding: 0px 25px 0px 10px;
		background-position: calc(100% - 15px) calc(1em + -3px), calc(100% - 10px) calc(1em + -3px), calc(100% - 2.5em) 0.5em;
		background-size: 5px 5px, 5px 5px, 0px 15px;
		height: 32px;
		border-color: #d5d5d5;
	}
	form.mpc-cart input[type="search"]{
		box-shadow: none;
	}
	.admin-bar .mpc-popup{
		top: 0;
	}
	table.mpc-wrap tbody tr.mpc-subhead {
		min-height: auto;
	}
	table.mpc-wrap tbody tr.mpc-subhead td {
		padding: 0;
	}
	tr.mpc-subhead .mpc-subheader{
		padding: 0;
	}
	.mpc-subheader-info {
		margin-left: 10px;
	}
	.hentry .entry-content .mpc-container a {
		text-decoration: none;
	}
	.mpc-table-header.mpc-fixed-filter {
		padding: 10px 10px 2px;
	}
	.mpc-table-header.mpc-fixed-filter.mpc-free-head{
		display: block;
	}
	.mpc-table-header.mpc-fixed-filter.mpc-free-head .mpc-sort{
		float: inline-start;
	}
	.mpc-container .mpc-product-title .product-parent a{
		background: #4f4f4f;
		color: #ffffff;
		padding: 3px 15px;
		border-radius: 15px;
		border: none;
	}
	.mpc-table-header .mpc-sort select, .mpc-table-header .mpcp-cat-filter select, .mpc-table-header .mpcp-tag-filter select{
		max-width: 100%;
	}
	.mpcp-loading{
		width: 41px;
		height: 35px;
		margin-left: 12px;
	}
}
